<div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
    <div class="card-header">Wallet</div>
    <div class="card-body">
      <h5 class="card-title">BTC</h5>
      <p id="position_btc" class="card-text">0.00000000</p>
      <p id="position_free" class="card-text">U$ 00,00</p>
      <p id="position_total" class="card-text">U$ 00,00</p>
    </div>
</div>